@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;200;300;400;500;600&display=swap');

/*resetando tudo*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
hr.solid{
border-top: 60px solid #333472;
}
/*pega o espaço inteiro do body*/
body {
    display: flex;
    height: 100vh;

  }

nav.menu-lateral {
    width: 70px;
    height: 100%;
    /*para pegar a tela toda*/
    background-color: #023e8a;
    padding: 40px 0px 40px 1%;
    /*usando o padding para dar um afastamento nos itens. 40 em cima, 40 em baixo, 0 no lado direito, e no esquerdo 1% de acochoamento*/
   


    position: fixed; /*para o navbar ficar fixado na tela*/
    top: 0;
    left: 0;
    overflow: hidden;/*serve para as letras nao ficarem de fora quando o navbar for comprimido*/
    transition: .5s;
}

/*toda vez que apertarmos no ícone, o navbar ficará com 80px de largura*/
nav.menu-lateral:hover{
width: 260px;
}

nav.menu-lateral.expandir{
    width: 100%;
}


/*botao hamburguer*/
.btn-expandir {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    /*espaçamento para esquerda*/
    /*para ele ficar alinhadinho*/
}

/*icone do hamburguer*/
.btn-expandir>i {
    color: #fff;
    font-size: 20px;
    /*tamanho*/
    cursor: pointer;
}

ul {
    height: 100%;
    /*para que ele fique de cima ate em baixo*/
    list-style-type: none;
}

ul li.item-menu{
    transition: .2s;
    margin-left: -6px;
    border-radius:3px;
}

/*sempre que a li tiver com a class ativo*/
ul li.ativo{
background-color:#0077b6;
}


/*selecionando a li para colocar um hover*/
ul li.item-menu:hover {
    background: #0077b6;
}

/**/
ul li.item-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 18px;
    /*em cima e em baixo 20px, e 4% nas laterais*/
    display: flex;
    /*para dar a distancia de cima e em baixo dos elementos*/
    margin-bottom: 7px;
    line-height: 40px;
}

/*afastar o icone do texto*/
ul li.item-menu a .txt-link {
    margin-left: 33px;
}

ul li.item-menu a icon>i {
    font-size: 28px;
}

nav.menu-lateral.expandir .txt-link {
    margin-left: 40px;
}

.icon {
    color: #caf0f8;
}

nav{
    position: fixed;
}

/*aside*/
header{
    width: 100%;
    height: 7vh;
    background-color: #333472 ;
    position: fixed;

}
main {
    max-width: 600px; /* Define a largura máxima da tabela */
    width: 100%;
  }



/**testando uma coisa!!!!!!!!!!!!!!!!!!!!!!!!**/



 